ion-item {
    margin-top: 10px;
}

ion-button {
    margin-top: 10px;
}

form {
  margin-top: 5%;
  padding: 5%;
}

#descriptionText {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

ion-icon {
  padding: 3% 5% 3% 5%;
  
}